@import '../../setting';
$list-bg-color: #ebecf0;
$columns-header-height: 46px;
$columns-footer-height: 46px;
$columns-border-radius: 8px;
$card-border-radius: 5px;

.columns {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - #{$gap});
  &:not(:first-child) {
    margin-left: $gap;
  }

  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    padding-left: 15px;
    height: $columns-header-height;
    line-height: $columns-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $columns-border-radius;
    border-top-right-radius: $columns-border-radius;
  }

  footer {
    padding-left: 10px;
    height: $columns-footer-height;
    line-height: $columns-footer-height;
    font-size: 16px;
    border-bottom-left-radius: $columns-border-radius;
    border-bottom-right-radius: $columns-border-radius;
  }

  ul.task-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(
      100% - #{$columns-header-height} - #{$columns-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb:vertical {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }
  }
}
